<h3>Employee Management Portal</h3>
<p><a href="/adduser" class="addbtn">Add Employees</a></p>
<table>
    <thead>
        <tr>
            <td>EmpID</td>
            <td>EmpName</td>
            <td>Age</td>
            <td>City</td>
            <td>Edit</td>
            <td>Delete</td>

        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.age}}</td>
            <td>{{this.city}}</td>
            <td><a class="edit" href="/edituser/{{this.id}}">Update</a></td>
            <td><a onclick="return confirm('Are you sure?')" class="delete" href="/deleteuser/{{this.id}}">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>